<template lang="pug">
.restaurant
  .block-img
    img.foto(
      src="https://cdn.segodnya.ua/i/image_650x434/media/image/5e3/72a/536/5e372a536afa6.jpg"
    )
    .status
      | Место есть
  .block-info
    h5.title Название
    h6.description Описание ресторана и/или его блюд
    .worktime
      | 10:00-22:00
    .tags
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'RestaurantPanel',
  components: {},
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
@import '@/components/ui-kit/styles/typography';
@import '@/components/ui-kit/styles/colors';

.restaurant {
  box-shadow: 0 0 7px rgba(140, 133, 120, 0.2);
  border-radius: 20px;
  position: relative;
  width: 280px;
  height: 320px;
}

.foto {
  border-radius: 20px 20px 0 0;
  width: 280px;
  height: 180px;
}

.status {
  position: absolute;
  top: 17px;
  left: 20px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  background-color: #f0f0f0;
  color: $ui-kit-color-beige;
  padding: 1.5px 10px;
}

.title {
  color: $ui-kit-color-beige;
}

.description {
  color: $ui-kit-color-primary-dark;
}

.block-info {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 18px;
  text-align: left;
}

.worktime {
  margin-top: 8px;
  font-size: 11px;
  color: $ui-kit-color-primary-dark;
}

h5 {
  margin: 0px;
  margin-top: 10px;
}

h6 {
  margin: 0px;
  margin-top: 5px;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}

// @media (max-width: 800px)
//   .restaurant
//     width: 300px
//   .foto
//     width: 300px
</style>
