<template lang="pug">
.search
  .text
    h3 Поиск ресторанов
  .input-info
    .input-field
      input.input-search(type="search")
      //- button(type="submit")
      input.button-search(
        type="image",
        src="http://s1.iconbird.com/ico/2013/9/452/w512h5121380477032search.png",
        name="submit"
      )
    .select-field
      h6 Выбор города
      UiSelect(
        v-model="selectedCity"
        :hasBorder="false"
        :options="options"
      )
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import UiSelect from '@/components/ui-kit/UiSelect/UiSelect.vue';

const cities = ['Новосибирск'];

export default defineComponent({
  components: {
    UiSelect,
  },

  setup() {
    const selectedCity = ref(cities[0]);

    return {
      options: cities,
      selectedCity,
    };
  },

  data: () => ({
    selectedCity2: cities[0],
  }),
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="sass">
@import '@/components/ui-kit/styles/typography.scss'
.text
  width: 330px
  text-align: left
.search
  margin-top: 48px
  min-width: 300px
  display: flex
  flex-wrap: wrap
.input-info
  margin-top: 2px
  margin-left: 30px
  display: flex
  justify-content: space-between
  flex-basis: 690px
  .input-field
    width: 450px
    height: 38px
    border-radius: 20px
    background: #E8E8E8
    .input-search
      padding-left: 15px
      width: 390px
      height: 38px
      background: #E8E8E8
      border-radius: 20px
      outline: none
      border: none
    .button-search
      background-image: url(http://s1.iconbird.com/ico/2013/9/452/w512h5121380477032search.png)
      width: 20px
      height: 20px
      outline: none
      vertical-align: middle
.select-field
  select
    font-size: large
    padding-left: 28px
    outline: none
    border: none
h3
  margin: 0px
h5
  margin: 0px
h6
  margin: 2px
  margin-left: 31px
  width: 80px
@media (max-width: 700px)
  .input-info
    .input-field
      width: 180px
      .input-search
        width: 140px
  h3
    margin-bottom: 10px
</style>
