<script>
import UiSandwichIcon from './UiSandwichIcon.vue';

export default {
  story: {
    category: 'ui-kit',
    name: 'UiIcons',
  },

  components: {
    UiSandwichIcon,
  },

  data() {
    return {
      middleSize: 35,
      bigSize: 60,
    };
  },
};
</script>

<template lang="pug">
.page
  h1 Иконки

  .demo
    .row
      UiSandwichIcon
      UiSandwichIcon(:size="middleSize")
      UiSandwichIcon(:size="bigSize")
      | UiSandwichIcon
</template>

<style lang="scss" scoped>
@import '../styles/storybook.scss';

@include ui-kit-storybook;
</style>
