<template lang="pug">
.login-container
  UiLinkAsButton.logo(to='/')
    UiLogo(:isFull="true")
  .form
    slot
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import UiLogo from '@/components/ui-kit/UiLogo/UiLogo.vue';
import UiLinkAsButton from '@/components/ui-kit/UiLinkAsButton/UiLinkAsButton.vue';

export default defineComponent({
  components: {
    UiLogo,
    UiLinkAsButton,
  },
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
@import '@/components/ui-kit/styles/common-styles.scss';

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  font-family: $monserrat;
  font-style: normal;

  .logo {
    margin-top: 64px;
  }

  .form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 32px 65px;
    max-width: 500px;
  }
}

@media (max-width: 500px) {
  .login-container {
    .form {
      width: 100%;
      border: none;
      box-shadow: none;
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}
</style>
