<template lang="pug">
#nav
  HqHeader(v-if="showHeader")
  router-view
</template>
<script lang="ts">
import { computed, defineComponent } from 'vue';
import { useRoute } from 'vue-router';
import HqHeader from './components/header/Header.vue';

export default defineComponent({
  components: {
    HqHeader,
  },

  setup() {
    const showHeader = computed(() => {
      const route = useRoute();
      const currentRoute = route.path;
      return currentRoute !== '/login' && currentRoute !== '/registration';
    });

    return {
      showHeader,
    };
  },
});
</script>

<style lang="sass">
*
  box-sizing: border-box

body
  margin: 0

#app
  font-family: Avenir, Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-align: center
  color: #2c3e50
  max-width: 1170px;
  margin: auto;
</style>
