<template lang="pug">
.ui-background(
  :class="viewClass"
  @click="$emit('update:isOpen', false)"
)
  .content(
    @click.stop=""
  )
    slot
</template>

<script lang="ts">
import { computed, defineComponent } from 'vue';

export default defineComponent({
  props: {
    isOpen: {
      type: Boolean,
      default: false,
    },
  },

  setup(props) {
    /** Классы состояний */
    const viewClass = computed(() => {
      const result = [];

      if (props.isOpen) {
        result.push('_is-visible');
      }

      return result;
    });

    return {
      viewClass,
    };
  },
});
</script>

<style lang="scss" scoped>
.ui-background {
  backdrop-filter: blur(10px);
  visibility: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(#000, 0.7);
  z-index: 200;
  cursor: pointer;
  opacity: 1;
  transition: opacity ease-out 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;

  &._is-visible {
    visibility: visible;
  }
}

</style>
