<script lang="ts">
import { defineComponent, ref } from 'vue';

import UiModal from './UiModal.vue';
import UiButton from '../UiButton/UiButton.vue';
import UiSelect from '../UiSelect/UiSelect.vue';

export default defineComponent({
  story: {
    category: 'ui-kit',
    name: 'UiModal',
  },

  components: {
    UiSelect,
    UiButton,
    UiModal,
  },

  setup() {
    return {
      value: ref(false),
      options: [
        '1', '2', '3', '4', '5', '6', '7',
      ],
      valueSelect: ref(''),
    };
  },
});
</script>

<template lang="pug">
.page
  h1 UiModal

  .demo
    UiButton(
      @click="value = true"
    ) Open
    UiModal(
      v-model:isOpen="value"
    )
      .story-content
          UiSelect(
            v-model="valueSelect"
            :options="options"
          )
</template>

<style lang="scss" scoped>
@import '../styles/storybook.scss';

@include ui-kit-storybook;

.story-content {
  height: 200px;
  width: 200px;
  background-color: #fff;
  border-radius: 10px;
}
</style>
