<template lang="pug">
AuthWrapper
  .header
    .main
      | Вход
    .subheader
      | пожалуйста, введите свой email и пароль
  .inputs
    UiInput.input(
      placeHolder="почта"
      :value="email"
      @input="email = $event.target.value; checkEmail($event)"
      :errorMessage="emailError"
      )
    UiInput.input(
      placeHolder="пароль"
      :value="password"
      @input="password = $event.target.value; checkForm($event)"
      :errorMessage="passwordError"
      type="password"
      )
    .forget-password()
      | Забыли пароль?
  .footer
    UiButton.sign-in(
      :colorType="UiColorType.Done"
      :variant="UiVariant.Decorated"
      :size="UiSize.Big"
      @click="submit"
    ) Войти
    .registration
      | или
      UiLinkAsButton(to="/registration")
        | зарегистрируйтесь
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import UiButton from '@/components/ui-kit/UiButton/UiButton.vue';
import UiColorType from '@/components/ui-kit/styles/UiColorType';
import UiVariant from '@/components/ui-kit/styles/UiVariant';
import UiSize from '@/components/ui-kit/styles/UiSize';
import UiInput from '@/components/ui-kit/UiInput/UiInput.vue';
import AuthWrapper from '@/components/auth/AuthWrapper.vue';
import UiLinkAsButton from '@/components/ui-kit/UiLinkAsButton/UiLinkAsButton.vue';

export default defineComponent({
  components: {
    UiButton,
    UiInput,
    AuthWrapper,
    UiLinkAsButton,
  },
  data: () => ({
    email: '',
    password: '',
    emailError: '',
    passwordError: '',
    UiColorType,
    UiVariant,
    UiSize,
  }),
  methods: {
    checkForm() {
      const validEmail = this.checkEmail();
      const validPassword = this.checkPassword();
      return validEmail && validPassword;
    },
    checkPassword() {
      if (!this.password) {
        this.passwordError = 'Требуется указать пароль.';
        return false;
      }

      this.passwordError = '';
      return true;
    },
    checkEmail() {
      if (this.email.length === 0) {
        this.emailError = 'Требуется указать почту.';
        return false;
      } if (!this.validateEmail(this.email)) {
        this.emailError = 'Требуется валидная почта';
        return false;
      }

      this.emailError = '';
      return true;
    },
    validateEmail: (email: string) => {
      const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    },
    submit() {
      const formValid = this.checkForm();

      if (formValid) {
        console.log(this.email, this.password);
      }
    },
  },
});
</script>

<style lang="scss" scoped>
@import '@/components/ui-kit/styles/common-styles';

.header {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;

  .main {
    color: $ui-kit-color-beige;
    font-size: 24px;
    padding-bottom: 10px;
    font-weight: 400;
  }

  .subheader {
    font-size: 14px;
    color: $hint;
    font-weight: 500;
  }
}

.inputs {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  .input {
    margin-bottom: 45px;

    &:last-child {
      margin-bottom: 20px;
    }
  }

  .forget-password {
    color: $graphite;
    font-size: 14px;
  }
}

.footer {
  display: flex;
  flex-direction: column;

  .sign-in {
    margin-bottom: 15px;
  }

  .registration {
    @include ui-kit-typography-body;
    color: $ui-kit-color-beige;
    display: flex;
    align-self: center;

    align-items: center;
  }
}
</style>
