<template lang="pug">
AuthWrapper
  .header
    .main
      | Регистрация
    .subheader
      | Ваша система бронирования всего за 5 минут!
  .inputs
    UiInput.input(
      placeHolder="название заведения",
      :value="name",
      @input="name = $event.target.value; checkRequired('name')",
      :errorMessage="nameError"
    )
    UiInput.input(
      placeHolder="телефон для регистрации",
      :value="phoneNumber",
      type="tel"
      @input="phoneNumber = $event.target.value; checkPhoneNumber()",
      :errorMessage="phoneNumberError"
    )
    UiInput.input(
      placeHolder="почта",
      :value="email",
      @input="email = $event.target.value; checkEmail()",
      :errorMessage="emailError"
    )
    UiInput.input(
      placeHolder="логин",
      :value="login",
      @input="login = $event.target.value; checkRequired('login')",
      :errorMessage="loginError"
    )
    .input.passwords
      UiInput(
        placeHolder="пароль",
        :value="password",
        @input="password = $event.target.value; checkPassword()",
        :errorMessage="passwordError",
        type="password"
      )
      UiInput(
        placeHolder="повторите пароль",
        :value="confirmPassword",
        @input="confirmPassword = $event.target.value; checkConfirmPassword()",
        :errorMessage="confirmPasswordError",
        type="password"
      )
    .conditions
      | Продолжая, Вы соглашаетесь с нашими
      UiLinkAsButton(
        to="a"
        :size="UiSize.Small"
      ) Условиями использования
      | и подтверждаете, что прочли наше
      UiLinkAsButton(
        to='b'
        :size="UiSize.Small"
      ) Положение о конфиденциальности
      | и
      UiLinkAsButton(
        to='c'
        :size="UiSize.Small"
      ) использовании файлов cookie.
  .footer
    UiButton.sign-in(
      :colorType="UiColorType.Done"
      :variant="UiVariant.Decorated"
      :size="UiSize.Big"
      @click="submit"
    ) Регистрация
    .registration
      | или
      UiLinkAsButton(to="/login")
        | войдите
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import UiButton from '@/components/ui-kit/UiButton/UiButton.vue';
import UiColorType from '@/components/ui-kit/styles/UiColorType';
import UiVariant from '@/components/ui-kit/styles/UiVariant';
import UiSize from '@/components/ui-kit/styles/UiSize';
import AuthWrapper from '@/components/auth/AuthWrapper.vue';
import UiInput from '@/components/ui-kit/UiInput/UiInput.vue';
import UiLinkAsButton from '@/components/ui-kit/UiLinkAsButton/UiLinkAsButton.vue';

type RequiredFields = 'email' | 'name' | 'password' | 'login' | 'phoneNumber' | 'confirmPassword';
const requiredMap = {
  name: 'название заведения',
  email: 'почту',
  password: 'пароль',
  login: 'логин',
  phoneNumber: 'номукр телефона',
  confirmPassword: 'поддтверждение пароля',
};
export default defineComponent({
  components: {
    UiInput,
    AuthWrapper,
    UiButton,
    UiLinkAsButton,
  },
  data: () => ({
    email: '',
    password: '',
    confirmPassword: '',
    phoneNumber: '',
    login: '',
    name: '',
    emailError: '',
    passwordError: '',
    confirmPasswordError: '',
    nameError: '',
    loginError: '',
    phoneNumberError: '',
    UiColorType,
    UiVariant,
    UiSize,
  }),
  methods: {
    checkRequired(field: RequiredFields) {
      if (this[field].length === 0) {
        this[`${field}Error` as RequiredFields] = this.getRequiredError(
          requiredMap[field],
        );
        return false;
      }

      this[`${field}Error` as RequiredFields] = '';
      return true;
    },
    getRequiredError(subject: string) {
      return `Требуется ввести ${subject}`;
    },
    checkForm() {
      const validEmail = this.checkEmail();
      const validPassword = this.checkPassword();
      const validConfirmPassword = this.checkConfirmPassword();
      const validLogin = this.checkRequired('login');
      const validName = this.checkRequired('name');
      const validPhone = this.checkPhoneNumber();

      return validEmail && validPassword
        && validLogin && validName && validPhone && validConfirmPassword;
    },
    checkPassword() {
      return this.checkRequired('password');
    },
    checkConfirmPassword() {
      if (!this.confirmPassword) {
        this.confirmPasswordError = this.getRequiredError(requiredMap.confirmPassword);
        return false;
      }

      if (this.passwordError !== this.confirmPassword) {
        this.confirmPasswordError = 'Пароли должны совпадать';
        return false;
      }

      return true;
    },
    checkEmail() {
      const emailExists = this.checkRequired('email');

      if (emailExists && !this.validateEmail(this.email)) {
        this.emailError = 'Требуется валидная почта';
        return false;
      }

      return emailExists;
    },
    checkPhoneNumber() {
      const numberExists = this.checkRequired('phoneNumber');
      if (!numberExists) {
        return false;
      }

      /* eslint-disable no-useless-escape */
      const re = /^(\+7|7|8)?[\s\-]?\(?[489][0-9]{2}\)?[\s\-]?[0-9]{3}[\s\-]?[0-9]{2}[\s\-]?[0-9]{2}$/;

      if (re.test(this.phoneNumber)) {
        this.phoneNumberError = '';
        return true;
      }

      this.phoneNumberError = 'Введите валидный номер';
      return false;
    },
    validateEmail: (email: string) => {
      const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    },
    submit() {
      const formValid = this.checkForm();

      if (formValid) {
        console.log(this.email, this.password);
      }
    },
  },
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
@import '@/components/ui-kit/styles/common-styles';
@import '@/components/ui-kit/styles/spacing';

.header {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;

  .main {
    color: $ui-kit-color-beige;
    font-size: 24px;
    padding-bottom: 10px;
    font-weight: 400;
  }

  .subheader {
    font-size: 14px;
    color: $hint;
    font-weight: 500;
  }
}

.inputs {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  .input {
    margin-bottom: 45px;

    &.passwords {
      @include elements_with_space(20px);
    }

    &:last-child {
      margin-bottom: 20px;
    }
  }
}

.conditions {
  font-size: 11px;
  color: $ui-kit-color-beige;

  a {
    color: $graphite;
  }
}

.footer {
  display: flex;
  flex-direction: column;

  .sign-in {
    margin-bottom: 15px;
  }

  .registration {
    @include ui-kit-typography-body;
    color: $ui-kit-color-beige;
    display: flex;
    align-self: center;
    align-items: center;
  }
}
</style>
