<template lang="pug">
.input-container
  .hint(v-if="title")
    | {{ title }}
  input.ui-input(
    :placeHolder="placeHolder"
    :value="value"
    :type="type"
    @input="$emit('input', $event)"
  )
  .error-msg(v-if="errorMessage")
    | {{ errorMessage }}
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  props: {
    placeHolder: String,
    errorMessage: {
      type: String,
      defalut: '',
    },
    value: String,
    type: {
      type: String,
      default: 'text',
    },
    title: {
      type: String,
      default: '',
    },
  },
});
</script>

<style lang="scss" scoped>
@import '@/components/ui-kit/styles/common-styles';

.input-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .hint {
    font-family: $monserrat;

    font-style: normal;

    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: #000000;

    text-align: start;
    margin-bottom: 5px;
  }

  input {
    border: 1px solid $graphite;

    box-sizing: border-box;
    border-radius: 10px;
    color: $hint;

    font-family: Raleway;

    font-style: normal;

    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    padding: 18px 25px;
    width: 100%;

  }

  &.small {
    input {
      height: 40px;
      padding: 8px 16px;
      border-radius: 5px
    }
  }

  .error-msg {
    text-align: start;
    color: #F90B61;
    font-size: 11px;

  }

}
</style>
