<template lang="pug">
.home
  Search
  h4 Найдите себе место: быстро, онлайн
    br
    |и с функцией живой очереди
  .panel
    .tab(v-for="index in 10" :key="index")
      UiLink(id="router-link" :to ='{name:"Restaurant", params:{id:1}}')
        RestaurantPanel
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import RestaurantPanel from '@/components/body-main/RestaurantPanel.vue'; // @ is an alias to /src
import Search from '@/components/body-main/Search.vue';
import UiLink from '@/components/ui-kit/UiLink/UiLink.vue';

export default defineComponent({
  components: {
    UiLink,
    RestaurantPanel,
    Search,
  },
});
</script>

<style scoped lang="sass">
@import '@/components/ui-kit/styles/typography.scss'
.home
  padding-left: 56px
  padding-right: 56px
  min-width: 300px
  h3
    text-align: left
    margin-top: 56px
.panel
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  .tab
    min-height: 300px
    margin-top: 80px
    .block
      display: block
h4
  margin-top: 62px
  margin-bottom: 28px
  font-family: Montserrat
  font-size: 24px
  font-style: normal
  font-weight: 400
  line-height: 29px
  letter-spacing: 0em
  text-align: left

@media (max-width: 800px)
  .home
    padding-left: 23px
    padding-right: 23px
  .panel
    padding-left: 15px
</style>
