<template lang="pug">
.select-container
  .title(v-if="title")
    | {{ title }}
  Multiselect.ui-multiselect(
    v-model="value1"
    :class="classView"
    :mode="mode"
    :options="options"
  )
  .error-message(v-if="errorMessage")
    | {{ errorMessage }}
</template>

<script lang="ts">
import {
  defineComponent, PropType, computed, ref,
} from 'vue';
// eslint-disable-next-line @typescript-eslint/ban-ts-ignore
// @ts-ignore
import Multiselect from '@vueform/multiselect';

export default defineComponent({
  components: {
    Multiselect,
  },

  props: {
    value: {},
    options: {
      type: Array,
      default: () => [],
    },
    mode: {
      type: String as PropType<'single' | 'multiple' | 'tags'>,
      default: 'single',
    },
    placeHolder: String,
    errorMessage: {
      type: String,
      default: '',
    },
    title: {
      type: String,
      default: '',
    },
    hasBorder: {
      type: Boolean,
      default: true,
    },
  },

  setup(props) {
    const classView = computed(() => {
      const result = [];

      if (props.hasBorder) {
        result.push('_has_border');
      }

      return result;
    });
    return {
      value1: ref('Новосибирск'),
      classView,
    };
  },
});
</script>

<style src="@vueform/multiselect/themes/default.css"></style>
<style lang="scss">
@import "@/components/ui-kit/styles/common-styles";
.select-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .title {
    font-family: $monserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: #000000;
    text-align: start;
    margin-bottom: 5px;
  }

  .error-message {
    text-align: start;
    color: #F90B61;
    font-size: 11px;
  }

  .ui-multiselect {
    width: 100%;

    & > .multiselect-input {
      height: 40px;
    }

    .multiselect-input,
    .multiselect-options {
      border-radius: 5px;
      border: 1px solid $graphite;
      overflow: auto;
    }

    &:not(._has_border) {
      .multiselect-input {
        border: none;
      }
    }
  }
}
</style>
