<script>
import UiSelect from './UiSelect.vue';

export default {
  story: {
    category: 'ui-kit',
    name: 'UiSelect',
  },

  components: {
    UiSelect,
  },

  data: () => ({
    options1: [
      '1', '2', '3', '4',
    ],
    value1: '',
    value2: [],
  }),
};
</script>

<template lang="pug">
.page
  h1 UiSelect

  .demo
    .selector
      UiSelect(
        mode="single"
        v-model="value1"
        :options="options1"
      )
      .result {{ value1 }}
  .demo
    .selector
      UiSelect(
        mode="tags"
        v-model="value2"
        :options="options1"
      )
      .result {{ value2 }}
</template>

<style lang="scss" scoped>
@import '../styles/storybook.scss';

@include ui-kit-storybook;

.selector {
  width: 100%;
}
</style>
