<script lang="ts">
import UiButton from './UiButton.vue';
import UiVariant from '../styles/UiVariant';
import UiColorType from '../styles/UiColorType';

export default {
  story: {
    category: 'ui-kit',
    name: 'UiButton',
  },

  components: {
    UiButton,
  },

  data: () => ({
    UiColorType,
    UiVariant,
  }),
};
</script>

<template lang="pug">
.page
  h1 UiButton

  .demo
    .row
      UiButton(
        :colorType="UiColorType.Primary"
        :variant="UiVariant.Default"
      ) default primary

      UiButton(
        :colorType="UiColorType.Primary"
        :variant="UiVariant.Outlined"
      ) outlined primary

      UiButton(
        :colorType="UiColorType.Primary"
        :variant="UiVariant.Decorated"
      ) decorated primary

  .demo
    .row
      UiButton(
        :colorType="UiColorType.Accent"
        :variant="UiVariant.Default"
      ) default accent

      UiButton(
        :colorType="UiColorType.Accent"
        :variant="UiVariant.Outlined"
      ) outlined accent

      UiButton(
        :colorType="UiColorType.Accent"
        :variant="UiVariant.Decorated"
      ) decorated accent

  .demo
    .row
      UiButton(
        :colorType="UiColorType.Done"
        :variant="UiVariant.Default"
      ) default done

      UiButton(
        :colorType="UiColorType.Done"
        :variant="UiVariant.Outlined"
      ) outlined done

      UiButton(
        :colorType="UiColorType.Done"
        :variant="UiVariant.Decorated"
      ) decorated done
</template>

<style lang="scss" scoped>
@import '../styles/storybook';

@include ui-kit-storybook;

.row {
  width: 500px;
}
</style>
