<template lang="pug">
button.ui-button(
  :class="classView"
  @click="$emit('click')"
)
  slot
</template>

<script lang="ts">
import { defineComponent, PropType, computed } from 'vue';
import UiColorType from '../styles/UiColorType';
import UiSize from '../styles/UiSize';
import UiVariant from '../styles/UiVariant';

export default defineComponent({
  props: {
    variant: {
      type: String as PropType<UiVariant>,
      default: UiVariant.Default,
    },
    colorType: {
      type: String as PropType<UiColorType>,
      default: UiColorType.Primary,
    },
    size: {
      type: String as PropType<UiSize>,
      default: UiSize.Normal,
    },
  },

  setup(props) {
    const classView = computed(() => {
      const result = [];

      result.push(`_${props.variant}`);
      result.push(`_${props.colorType}`);
      result.push(`_${props.size}`);

      return result;
    });

    return {
      classView,
    };
  },
});
</script>

<style lang="scss" scoped>
@import '../styles/button';

.ui-button {
  @include ui-kit-button;
}
</style>
