<template lang="pug">
.peronsal-information-container
  h3
    | Личная информация
  .content
    UiInput.small(title="Почта")
    UiInput.small(title="Номер телефона")
    UiInput.small(title="Пароль")
    UiInput.small(title="Новый пароль")
  UiButton(
    :colorType="UiColorType.Accent"
    :variant="UiVariant.Decorated"
    @click="submit"
  ) Сохранить
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import UiColorType from '../ui-kit/styles/UiColorType';
import UiVariant from '../ui-kit/styles/UiVariant';
import UiButton from '../ui-kit/UiButton/UiButton.vue';
import UiInput from '../ui-kit/UiInput/UiInput.vue';

export default defineComponent({
  name: 'PersonalInformation',
  components: { UiButton, UiInput },
  data: () => ({
    email: 's.esipenko@gmail.com',
    login: 'serega_molodec',
    password: '',
    newPassword: '',
    UiColorType,
    UiVariant,
  }),
  methods: {
    submit() {
      console.log(this.submit);
    },
  },
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>
@import '@/components/ui-kit/styles/common-styles.scss'
.peronsal-information-container
  display: flex
  flex-direction: column
  align-items: flex-start

  .content
    display: flex
    flex-direction: column
    margin-bottom: 48px

    .small
      margin-bottom: 30px
      &:last-child
        margin-bottom: 0
</style>
