<template lang="pug">
.peronsal-cabinet-wrapper
  .header
    h1
      | Личный кабинет
    .tabs
      UiTabs(
        v-model:active="currentTab"
        :tabs="tabs"
      )
  .content
    PersonalInformation(v-if="currentTab === 'personal'")
    RestrauntInformation(v-else)
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import UiColorType from '@/components/ui-kit/styles/UiColorType';
import UiTabs from '@/components/ui-kit/UiTabs/UiTabs.vue';
import PersonalInformation from './PersonalInformation.vue';
import RestrauntInformation from './RestrauntInformation.vue';

const tabs = [
  { value: 'personal', label: 'Личные данные' },
  { value: 'restaurant', label: 'Данные ресторана' },
];

export default defineComponent({
  components: {
    PersonalInformation,
    RestrauntInformation,
    UiTabs,
  },

  data: () => ({
    currentTab: tabs[0].value,
    tabs,
    UiColorType,
  }),
});
</script>

<style lang="scss" scoped>
.peronsal-cabinet-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 140px 105px;
}

.tabs {
  margin-top: 64px;
}

@media (max-width: 600px) {
  .peronsal-cabinet-wrapper {
    padding: 20px 30px
  }
}
</style>
