<template lang="pug">
.restraunt-information-container
  h3
    | Информация о ресторане
  .content
    .content-item
        h5.general
            | Общая информация
        img(src="@/assets/ExamplePhoto.png")
        UiButton(
          :colorType="UiColorType.Accent"
          :variant="UiVariant.Decorated"
          @click="submit"
        ) Загрузить фото
        UiInput.small(title="Название")
        UiInput.small(title="Описание")
    .content-item
        h5
            | Контактная информация
        .row
            UiInput.small(title="Город")
            UiInput.small(title="Адрес")
        .row
            UiInput.small(title="Телефон для связи")
            UiInput.small(title="Ссылка на сайт")

    .content-item
        h5
          | Настройки времени
        div.days(v-for="day in days")
          h5
            | {{ day }}
          .row
              UiSelect.small(title="Открытие"
              :value="value1" :options="workTimeOptions")
              UiSelect.small(title="Закрытие"
              :value="value1" :options="workTimeOptions")
        .row
            UiSelect.small(title="Минимальное время между бронью"
            :value="value1" :options="bookingTimeOptions")

  UiButton(
    :colorType="UiColorType.Accent"
    :variant="UiVariant.Decorated"
    @click="submit"
  ) Сохранить
</template>

<script lang="ts">
/* eslint-disable no-plusplus */

import { defineComponent } from 'vue';
import UiButton from '../ui-kit/UiButton/UiButton.vue';
import UiInput from '../ui-kit/UiInput/UiInput.vue';
import UiColorType from '../ui-kit/styles/UiColorType';
import UiVariant from '../ui-kit/styles/UiVariant';
import UiSelect from '../ui-kit/UiSelect/UiSelect.vue';

const generateTimeValues = () => {
  const values: string[] = [];

  for (let i = 0; i < 12; i++) {
    const first = i < 10 ? `0${i}` : `${i}`;

    values.push(`${first}:00`);
    values.push(`${first}:30`);
  }

  return values;
};

const generateBookingTime = () => {
  const values: string[] = [];

  for (let i = 0; i < 5; i++) {
    for (let j = 0; j < 4; j++) {
      if (i === 0 && j === 0) {
        // eslint-disable-next-line no-continue
        continue;
      }

      const hours = i === 0 ? '' : `${i}h`;
      const minutes = j === 0 ? '' : `${15 * j}m`;
      const str = `${hours} ${minutes}`;
      values.push(str);
    }
  }

  return values;
};
export default defineComponent({
  name: 'RestrauntInformation',
  components: { UiButton, UiInput, UiSelect },
  data: () => ({
    email: 's.esipenko@gmail.com',
    login: 'serega_molodec',
    password: '',
    newPassword: '',
    UiColorType,
    UiVariant,
    workTimeOptions: generateTimeValues(),
    bookingTimeOptions: generateBookingTime(),
    value1: '',
    value2: [],
    days: ['Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота', 'Воскресенье'],
  }),
  methods: {
    submit() {
      console.log(this.submit);
    },
  },
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>
@import '@/components/ui-kit/styles/common-styles.scss'
.row
    display: flex
    flex-direction: row
    justify-self: flex-start
    width: 100%
    > *
      margin-right: 32px
      &:last-child
        margin-right: 0

@media (max-width: 500px)
  .row
    flex-wrap: wrap
    > *
      margin-right: 0

.restraunt-information-container
    display: flex
    flex-direction: column
    .content
        display: flex
        flex-direction: column

        &-item
            display: flex
            flex-direction: column
            width: 100%

            .general
                margin-bottom: 11px

            img
                margin-bottom: 16px

            .small
                width: 100%
                margin-bottom: 24px
            .days
              display: flex
              flex-direction: column
              width: 100%

              h5
                margin-top: 0
                font-size: 14px
</style>
