<template lang="pug">
.control
  .filter-fields
    .select-data.field
      h5 Дата брони
      select
        option
    .select-time.field
      h5 Время начала брони
      select
        option
  .tables
    .table(v-for="index in 10", :key="index")
      Table(
        @book="openModal"
        @queue="openModal"
      )
  UiModal(
    v-model:isOpen="isOpen"
  )
    Reservation
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import Table from './Table.vue';
import Reservation from './Reservation.vue';
import UiModal from '../ui-kit/UiModal/UiModal.vue';

export default defineComponent({
  name: 'Control',
  components: {
    Table,
    Reservation,
    UiModal,
  },

  setup() {
    const isOpen = ref(false);
    const openModal = () => {
      isOpen.value = true;
    };

    return {
      isOpen,
      openModal,
    };
  },
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="sass">
@import '@/components/ui-kit/styles/typography.scss'

.filter-fields
  display: flex
  flex-wrap: wrap
  max-width: 600px
  justify-content: space-between
select
  width: 280px
  height: 40px
  outline: none
  border-radius: 20px
  border-color: #F2F2F2
.tables
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  flex-basis: 1050px
h5
  margin-bottom: 5px
</style>
