<template lang="pug">
.reservation
  .title
    h5 Детали бронирования
  .form
    .select-time.full_width
      .text Время начала брони
      UiSelect
    .input-phone-number.full_width
      .text Номер телефона
      UiInput
    .select-count-people.full_width
      .text Кол-во человек
      UiSelect
    textarea.comment.full_width(
      placeholder="Комментарий",
      cols="37",
      rows="7",
      style="resize: none"
    )
    UiButton.full_width(
      :colorType="UiColorType.Done",
      :variant="UiVariant.Decorated",
      :size="UiSize.Big",
      @click="submit"
    ) Забронировать
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import UiColorType from '../ui-kit/styles/UiColorType';
import UiVariant from '../ui-kit/styles/UiVariant';
import UiButton from '../ui-kit/UiButton/UiButton.vue';
import UiSelect from '../ui-kit/UiSelect/UiSelect.vue';
import UiSize from '../ui-kit/styles/UiSize';
import UiInput from '../ui-kit/UiInput/UiInput.vue';

export default defineComponent({
  components: {
    UiButton,
    UiSelect,
    UiInput,
  },

  props: {
    idRestaurant: {
      type: Number,
    },
    numberTable: {
      type: Number,
    },
  },

  data: () => ({
    UiColorType,
    UiVariant,
    UiSize,
  }),
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
@import '@/components/ui-kit/styles/typography';
@import '@/components/ui-kit/styles/colors';

.reservation {
  font-family: $monserrat;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  min-height: 500px;
  border: solid 1px;
  border-radius: 10px;
  padding: 26px 32px 24px;
  background-color: white;
}

.title {
  text-align: center;
}

h5 {
  margin: 0 0 8px;
}

.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

h5 {
  margin-bottom: 8px;
}

.text {
  margin: 22px 0 5px;
  font-size: 11px;
  color: $ui-kit-color-primary-dark;
}

.comment {
  display: flex;
  margin-top: 30px;
  margin-bottom: 16px;
  border-radius: 5px;
  border: none;
  padding: 9px 16px;
  color: $ui-kit-color-primary-dark;
  background: #F2F2F2;
}

.full_width {
  width: 100%;
}

input {
  width: 100%;
  height: 40px;
}
</style>

<style lang="scss">
.input-phone-number {
  input {
    border-radius: 5px !important;
    height: 40px;
  }
}
</style>
