<template lang="pug">
.table
  .number
    h5 1s
  .container
    .description
      h4 Стол у окна
    .status-button
      .book(v-if="status")
        UiButton(
          :colorType="UiColorType.Done",
          :variant="UiVariant.Decorated",
          @click="$emit('book')"
        ) Забронировать
      .queue(v-else)
        UiButton(
          :colorType="UiColorType.Accent",
          :variant="UiVariant.Decorated",
          @click="$emit('queue')"
        ) Встать в очередь
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import UiColorType from '../ui-kit/styles/UiColorType';
import UiVariant from '../ui-kit/styles/UiVariant';
import UiButton from '../ui-kit/UiButton/UiButton.vue';

export default defineComponent({
  name: 'Table',
  components: { UiButton },
  props: {
    idRestaurant: {},
    numberTable: {},
    description: {},
    statusTable: {},
  },
  data: () => ({
    UiColorType,
    UiVariant,
  }),
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="sass">
@import '@/components/ui-kit/styles/typography.scss'
.table
  display: flex
  border: solid 1px
  border-radius: 20px
  margin-top: 30px
  min-width: 300px
  max-width: 320px
  height: 60px
.number
  display: flex
  justify-content: center
  border: none
  border-radius: 10px
  min-width: 40px
  height: 30px
  margin-top: 15px
  margin-left: 8px
  text-align: center
  background-color: #fcc503
  h5
    margin-left: 15px
    margin-right: 10px
    margin-top: 4px
    color: white
.container
  display: flex
  justify-content: space-between
  width: 400px
.description
  margin-left: 20px
.status-button
  margin-top: 20px
  margin-right: 8px
</style>
