<template lang="pug">
router-link.ui-link(
  v-if="to"
  :to="to"
  :class="classView"
)
  slot
a.ui-link(
  v-else
  :href="href"
  :class="classView"
)
  slot
</template>

<script lang="ts">
export default {
  props: {
    to: {
      type: String,
      default: '',
    },
    href: {
      type: String,
      default: '',
    },
  },
};
</script>

<style lang="scss" scoped>
.ui-link {
  text-decoration: none;

  &._normal,
  &._small {
    padding: 4px;
  }

  :hover, :active, :focus {
    outline: 0;
  }
}
</style>
