<template lang="pug">
router-link.ui-link(
  v-if="to"
  :to="to"
  :class="classView"
)
  slot
a.ui-link(
  v-else
  :href="href"
  :class="classView"
)
  slot
</template>

<script lang="ts">
import UiButton from '../UiButton/UiButton.vue';

export default {
  props: {
    to: {
      type: String,
      default: '',
    },
    href: {
      type: String,
      default: '',
    },
    ...UiButton.props,
  },

  setup: UiButton.setup,
};
</script>

<style lang="scss" scoped>
@import "../styles/button";

.ui-link {
  @include ui-kit-button;
  text-decoration: none;

  &._normal,
  &._small {
    padding: 4px;
  }

  :hover, :active, :focus {
    outline: 0;
  }
}
</style>
