<template lang="pug">
.header
  .header-part
    .logo
      UiLogo
      .title
        | Honey Queue
  nav-panel
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import UiLogo from '@/components/ui-kit/UiLogo/UiLogo.vue';
import NavPanel from './NavPanel.vue';

export default defineComponent({
  name: 'HqHeader',
  components: { UiLogo, NavPanel },
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>
@import '@/components/ui-kit/styles/common-styles.scss'

.header
  display: flex
  width: 100%
  height: 64px
  align-items: center
  justify-content: space-between
  background: #fff
  box-sizing: border-box
  padding: 0 56px
  font-family: $raleway
  font-style: normal
  font-weight: 400

  &-part
    display: flex
    align-items: center

    .logo
      display: flex
      align-items: center
      justify-content: center

      .title
        color: $ui-kit-color-beige
        font-size: 18px
        line-height: 120%
        padding: 0 14px
@media (max-width: 600px)
  .header
    padding: 0 20px
</style>
