<template lang="pug">
.nav-panel
  .action(
    v-for="{ title, route } in actions.filter((a) => a.show)",
    :key="title"
  )
    UiLinkAsButton(
      :to="route"
      :colorType="route === currentRotue ? UiColorType.Accent : UiColorType.Primary"
    ) {{ title }}
  UiButton(
    v-if="isLoggedIn"
    :colorType="UiColorType.Accent"
    :variant="UiVariant.Outlined"
    @click="onLogin"
  ) Выход
  UiButton(
    v-else
    :colorType="UiColorType.Accent"
    :variant="UiVariant.Decorated"
    @click="isLoggedIn = true"
  ) Вход
  UiButton(
    v-if="!isLoggedIn"
    :colorType="UiColorType.Accent"
    :variant="UiVariant.Decorated"
  ) Регистрация
.menu-container
  UiSandwichIcon.menu(ref="trigger", @click.native="toggleMenu")
  .list(ref="list")
    UiLinkAsButton.list-item(
      v-for="{ title, route } in actions.filter((a) => a.show)",
      :key="title"
      :to="route",
      :colorType="route === currentRotue ? UiColorType.Accent : UiColorType.Primary"
    )
      | {{ title }}
    UiButton.list-item(
      v-if="isLoggedIn"
      @click="isLoggedIn = false"
    ) Выход
    UiLinkAsButton.list-item(
      v-else
      to="/login"
    ) Вход
    UiLinkAsButton.list-item(
      v-if="!isLoggedIn"
      to="/registration"
    ) Регистрация
</template>

<script lang="ts">
import { ComponentPublicInstance, defineComponent, ref } from 'vue';
import { createPopper, Instance } from '@popperjs/core';
import UiSandwichIcon from '../ui-kit/UiIcons/UiSandwichIcon.vue';
import UiButton from '../ui-kit/UiButton/UiButton.vue';
import UiColorType from '../ui-kit/styles/UiColorType';
import UiLinkAsButton from '../ui-kit/UiLinkAsButton/UiLinkAsButton.vue';
import UiVariant from '../ui-kit/styles/UiVariant';

export default defineComponent({
  components: {
    UiSandwichIcon,
    UiButton,
    UiLinkAsButton,
  },
  data: () => ({ popper: {} as Instance, show: false }),
  setup() {
    const isLoggedIn = ref(true);
    const trigger = ref<ComponentPublicInstance | null>(null);
    const list = ref<HTMLElement | null>(null);
    const actions = ref([
      { show: true, title: 'Рестораны', route: '/' },
      { show: !isLoggedIn.value, title: 'О нас', route: '/about' },
      { show: !isLoggedIn.value, title: 'Стать партнером', route: '/partnership' },
      { show: isLoggedIn.value, title: 'Личный кабинет', route: '/cabinet' },
      { show: isLoggedIn.value, title: 'Панель управления', route: '/panel' },
    ]);
    return {
      actions,
      isLoggedIn,
      trigger,
      list,
      UiColorType,
      UiVariant,
    };
  },
  methods: {
    toggleMenu() {
      this.show = !this.show;

      if (this.show) {
        this.showMenu();
        return;
      }

      this.hideMenu();
    },
    showMenu() {
      if (!this.list) {
        return;
      }
      this.setUpPopper();

      this.list.setAttribute('data-show', '');

      this.$nextTick(() => {
        this.popper.update();
      });
    },
    hideMenu() {
      this.show = false;
      if (!this.list) {
        return;
      }

      this.list.removeAttribute('data-show');
    },
    onDocumentClick(event: Event) {
      if (!this.trigger || !this.list) {
        return;
      }
      if (!this.trigger.$el.contains(event.target as Node)) {
        this.hideMenu();
      }
    },
    setUpPopper() {
      if (!this.trigger || !this.list) {
        return;
      }
      this.popper = createPopper(
        this.trigger.$el,
        this.list,
        {
          placement: 'bottom-end',
          modifiers: [
            {
              name: 'offset',
              options: {
                offset: [0, 8],
              },
            },
          ],
        },
      );
    },
    onLogin() {
      this.$router.push('/login');
    },
  },
  mounted() {
    window.addEventListener('click', this.onDocumentClick);
    this.$nextTick(() => {
      this.setUpPopper();
    });
  },
  computed: {
    currentRotue(): string {
      return this.$router.currentRoute.value.path;
    },
  },
});
</script>

<style lang="scss" scoped>
@import '@/components/ui-kit/styles/colors';
@import '@/components/ui-kit/styles/spacing';

.nav-panel {
  @include elements_with_space(32px);
  align-items: center;

  .action {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 23px;
  }

  .current {
    color: $ui-kit-color-beige;
  }
}

.menu-container {
  display: none;
}
.menu {
  width: 24px;
  height: 24px;
  fill: $ui-kit-color-beige;
  cursor: pointer;
  position: relative;
}

@media (max-width: 800px) {
  .menu-container {
    display: block
  }
  .nav-panel {
    display: none
  }
}

.list {
  display: none;
  flex-direction: column;
  background: #fff;
  border: 0.5px solid $ui-kit-color-primary-dark;
  border-radius: 5px;
  max-width: 180px;

  &-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    padding: 8px !important;
    text-decoration: none;
    background: #fff;
    color: $ui-kit-color-primary-dark;

    &.current {
      color: $ui-kit-color-beige
    }
  }
}
.list[data-show] {
  display: flex
}
</style>
