<template lang="pug">
img(:src="isFull ? '/FullLogo.png' : '/Intersect.png'")
</template>

<script>
export default {
  props: {
    isFull: {
      default: false,
      type: Boolean,
    },
  },
};
</script>
