<script>
import UiLogo from './UiLogo.vue';

export default {
  story: {
    category: 'ui-kit',
    name: 'UiLogo',
  },

  components: {
    UiLogo,
  },
};
</script>

<template lang="pug">
.page
  h1 UiLogo

  .demo
    UiLogo
  .demo
    UiLogo(:isFull="true")
</template>

<style lang="scss" scoped>
@import '../styles/storybook.scss';

@include ui-kit-storybook;
</style>
