<template lang="pug">
.restaurant
  .name-restaurant
    h1 Название ресторана
  .info-restaurant
    h3 О ресторане
    .text
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
      | in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
      | sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
      | anim id est laborum.
  .dop-info
    .payment
      h5 Способ оплаты
      .detail Наличными, по карте, криптовалюта
    .working-days
      h5 Рабочие дни
      .detail Все дни
    .working-hours
      h5 Время работы
      .detail
        | Будние дни: 9:00-21:00
        br
        | Выходные: 11:00-23:00
    .addres
      h5 Адрес
      .detail м. Пушкинская, ул. Артиллерийская, дом 1
  .to-book
    h3 Забронировать стол
    Control
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import Control from '../table-control/Control.vue';

export default defineComponent({
  components: { Control },
  props: {
    id: Number,
  },
});
</script>

<style scoped lang="sass">
@import '@/components/ui-kit/styles/typography.scss'
.restaurant
  text-align: left
  margin-top: 96px
  padding-left: 56px
  padding-right: 56px
  min-width: 300px
.text
  font-family: Raleway
  font-style: normal
  line-height: 23px
  font-size: 14px
  font-weight: 400
  line-height: 23px
  letter-spacing: 0em
  text-align: left
.dop-info
  display: flex
  justify-content: space-between
  flex-wrap: wrap
.detail
  font-family: Montserrat
  font-size: 14px
  font-style: normal
  font-weight: 300
  line-height: 17px
  letter-spacing: 0em
  text-align: left
h5
  margin-bottom: 5px
.to-book
  margin-top: 114px
@media (max-width: 800px)
  .restaurant
    padding-left: 23px
    padding-right: 23px
</style>
