@import "colors";
@import "animation";
@import "typography";

@mixin ui-kit-button() {
  border: none;
  border-radius: 5px;
  padding: 4px 14px;
  font-family: $raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;

  &:hover {
    filter: brightness(90%);
  }

  &:active {
    @include ui-kit-click-animation;
  }

  &._default,
  &._outlined {
    &._primary {
      color: $ui-kit-color-primary-dark;
    }
    &._accent {
      color: $ui-kit-color-beige;
    }
    &._done {
      color: $ui-kit-color-done;
    }
  }

  &._outlined {
    background: #fff;

    &._primary {
      border: 0.5px solid $ui-kit-color-primary-dark;
    }
    &._accent {
      border: 0.5px solid $ui-kit-color-beige;
    }
    &._done {
      border: 0.5px solid $ui-kit-color-done;
    }
  }

  &._decorated {
    color: #ffffff;

    &._primary {
      background: $ui-kit-color-primary-dark;
    }
    &._accent {
      background: $ui-kit-color-beige;
    }
    &._done {
      background: $ui-kit-color-done;
    }
  }

  &._big {
    height: 55px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
  }

  &._medium {
    height: 40px;
  }

  &._small {
    font-size: 11px;
    line-height: 11px;
  }
}
