$ui-kit-spacing-mini: 8px;
$ui-kit-spacing-small: 16px;
$ui-kit-spacing-normal: 24px;
$ui-kit-spacing-medium: 48px;
$ui-kit-spacing-big: 60px;

@mixin elements_with_space($space: $ui-kit-spacing-small) {
    display: grid;
    grid-auto-flow: column;
    grid-gap: $space;
}
