@import "spacing";

@mixin ui-kit-storybook() {
  .page {
    flex-direction: column;
    padding: 20px;
  }

  .row {
    @include elements_with_space(20px);
  }

  .demo {
    display: flex;
    margin-bottom: 10px;
  }

  .mr-20 {
    margin-right: 20px;
  }
}
