@import "colors";

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;1,400&display=swap');
$raleway: 'Raleway', sans-serif;
$monserrat: 'Montserrat', sans-serif;

h1 {
  font-family: $monserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 70px;
  line-height: 120%;
  color: $ui-kit-color-primary-dark;
}

h3 {
  font-family: $raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 120%;
  color: $ui-kit-color-primary-dark;
}

h5 {
  font-family: $monserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 120%;
  color: $ui-kit-color-primary-dark;
}

h6 {
  font-family: $monserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  color: $ui-kit-color-primary-dark;
}

@mixin ui-kit-typography-body() {
  font-size: 14px;
}

@media (max-width: 600px) {
  h1 {
    font-size: 40px
  }
  h2 {
    font-size: 24px
  }
}
