<template lang="pug">
.ui-tabs
  UiButton(
    v-for="(item, key) in tabs"
    :key="key"
    :variant="item.value === active ? UiVariant.Decorated : UiVariant.Outlined"
    :colorType="UiColorType.Accent"
    @click="$emit('update:active', item.value)"
  ) {{ item.label}}
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';
import UiButton from '../UiButton/UiButton.vue';
import UiColorType from '../styles/UiColorType';
import UiVariant from '../styles/UiVariant';

interface UiTabInterface {
  value: string;
  label: string;
  isActive: boolean;
}

export default defineComponent({
  components: {
    UiButton,
  },

  props: {
    tabs: {
      type: Array as PropType<UiTabInterface[]>,
      default: () => [],
    },
    active: {
      type: String,
      default: '',
    },
  },

  data: () => ({
    UiColorType,
    UiVariant,
  }),
});
</script>

<style lang="scss" scoped>
@import '../styles/spacing';

.ui-tabs {
  @include elements_with_space(24px);
}
</style>
